.container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    background: linear-gradient(to bottom, #194c33, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links:hover{
    cursor: pointer;
}

